body{
    color: rgb(0, 0, 0);
    background-color: #d2d3d2;
    background-image: url('wallpaper.jpg');
    background-size: cover;
}


  
#feature{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#teams-title{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 30px;
    display: none;
}
.center{
    text-align: center;
    padding-bottom: 10px;
}


#errorMessage{
    display: none; 
    text-align: center; 
    margin-top: 30px;
}
#notFound{
    display: none; 
    text-align: center; 
    margin-top: 30px;
}